<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= student.age %>
  </p>

  <p>
    <strong>Address:</strong>
    <strong>City:</strong>
    <%= student.address.city %>
    <strong>state:</strong>
    <%= student.address.state %>
  </p>

</div>
