<p style="color: green"><%= notice %></p>

<h1>Students</h1>

<div id="students">
  <% @students.each do |student| %>
    <%= render student %>
    <p>
      <%= link_to "Show this student", student %>
    </p>
  <% end %>
</div>

<%= link_to "New student", new_student_path , class:"btn btn-primary"%>

<%= image_tag 'speaker.gif' , width:300 , height: 400 %>
<%= video_tag 'hero.mp4', height: 300, autoplay: true, loop: true, muted: true %>
<%= image_tag 'link.gif' , width:300 , height: 400 %>
<%= image_tag 'map.gif' , width:300 , height: 400 %>
<%= image_tag 'phone.gif' , width:300 , height: 400 %>
<%= image_tag 'seo.gif' , width:300 , height: 400 %>
<%= image_tag 'speaker.gif' , width:300 , height: 400 %>
